<h2>Logged IN User Detail</h2>
  
        <div class="imgcontainer">
            <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar" class="avatar">
        </div>
        <div class="container form-group">
	        <table class="table">
			  	<thead>
				    <tr>
				      <th scope="col">First Name</th>
				      <th scope="col">Last Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Mobile</th>
				      <th scope="col">Address</th>
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr>
				      <td>{{fname}}</td>
				      <td>{{lname}}</td>
				      <td>{{email}}</td>
				      <td>{{mobile}}</td>
				      <td>{{address}}</td>
				    </tr>
				    
			  	</tbody>
			</table>
		</div>
        <div class="container form-group">
         	<button class="register" (click)="logout()">Logout</button>
        </div>
        
  
<router-outlet></router-outlet>
